.dark-gray-1 {
  background-color: #110f0f;
}
.dark-gray-2 {
  background-color: rgb(25, 25, 25);
}
.dark-blue-1 {
  background-color: #212327;
}
.dark-blue-2 {
  background-color: #0b4c84;
}
.sphera-red-text {
  color: #ff2121;
}
.sphera-red {
  background: #ff2121c4;
}
